0 0 * * * /home/sevenever/sbwpi/getASBlocks.sh AS32934 > /home/sevenever/sbwpi/facebook.blocks
0 0 * * * /home/sevenever/sbwpi/getASBlocks.sh AS13414 > /home/sevenever/sbwpi/twitter.blocks
0 0 * * * /home/sevenever/sbwpi/getASBlocks.sh AS15169 |cut -d'.' -f -2 |sort -u|sed -e 's/$/\.0\.0\/16/' > /home/sevenever/sbwpi/google.blocks
10 0 * * * cd /home/sevenever/sbwpi && /home/sevenever/sbwpi/vpn_route.py > /home/sevenever/sbwpi/vpn_route.list
20 0 * * * cd /home/sevenever/sbwpi && /home/sevenever/sbwpi/vpn_route.py -sb > /home/sevenever/sbwpi/sb_route.list
